<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>words Form</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story">
        Place : <input type="text" placeholder="place" name = "place">
        Noun : <input type="text" placeholder="noun" name = "noun">
        Verb : <input type="text" placeholder="verb" name = "verb">
        Adjective : <input type="text" placeholder="adjective" name = "adjective">
        Plural_Noun : <input type="text" placeholder="plural_noun" name = "plural_noun">
        <button>Submit</button>
    </form>
</body>
</html>